



<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card  Id="1" photoCover="https://stcotvfoco.com.br/2023/08/neymar-e-jorge-jesus-juntos-e1693146608628.png"
    cardTitle="Comunicado de hoje(27/08): Neymar recebe péssima notícia no Al-Hilal e Jorge Jesus se revolta"
    cardDescription="Neymar, sem sombra de dúvidas, é um dos assuntos mais comentados nas últimas semanas no futebol, principalmente, pelo contrato que fechou com o Al-Hilal. "></app-big-card>






  </div>
  <div class="articles__others">
    <app-small-card Id="2" cardTitle="VÍDEO: Neymar desembarca na Arábia Saudita e será apresentado neste sábado pelo Al-Hilal"
     photoCover="https://imgs.search.brave.com/W1P0YIQbqbLWQ8vQdpGSd9Bsj4pGwO0dRL5Dg81Iu3M/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wMi50/cnJzZi5jb20vaW1h/Z2UvZmdldC9jZi83/NzQvMC9pbWFnZXMu/dGVycmEuY29tLzIw/MjMvMDgvMTUvMTk2/MzY2MzQ2Mi1vZXNu/YmF4ZXRmYnZiZWl5/ZG1sN3hxcW9jdS5q/cGc"></app-small-card>
    <app-small-card Id="3" cardTitle="VÍDEO: Neymar é apresentado na Arábia Saudita com festa pirotécnica"
    photoCover="https://imgs.search.brave.com/ruGRGgXtshnamNtEGtcMzBmmH4MBvUoRn-26b7eddCg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9sbmNp/bWcubGFuY2UuY29t/LmJyL2Nkbi1jZ2kv/aW1hZ2Uvd2lkdGg9/MTkyMCxxdWFsaXR5/PTc1LGZvcm1hdD13/ZWJwL3VwbG9hZHMv/MjAyMy8wOC8wMDBf/MzNSTTZWTi5qcGc"></app-small-card>
    <app-small-card Id="4" cardTitle="'Ele quer escrever o capítulo que falta na carreira', comenta Diniz sobre retorno de Neymar à Seleção"
    photoCover="https://imgs.search.brave.com/w-vuFh0rr1IEgbauPFPqp7c2YEBlw8v7pkMLczQFRqw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTMy/NzE4MzYxNy9wdC9m/b3RvL25leW1hci1q/ci1vZi1icmF6aWwt/Y2VsZWJyYXRlcy1h/ZnRlci13aW5uaW5n/LWEtc2VtaS1maW5h/bC1tYXRjaC1vZi1j/b3BhLWFtZXJpY2Et/YnJhemlsLTIwMjEu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PWxHdHVTOFRFZ3E3/c2xmWmpYUUhETWpI/d25keE0yRlNRTnRs/ZDE5aWt1ZUE9"></app-small-card>
  </div>

</div>

<footer>&copy;Feito com carinho por Heros</footer>

